# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# user's bazel configuration files
user.bazelrc

# bazel artifacts
/bazel-bin
/bazel-out
/bazel-cpp2sky
/bazel-testlogs

# editor settings
.vscode/

.clangd/
compile_commands.json