[submodule "3rdparty/grpc"]
	path = 3rdparty/grpc
	url = https://github.com/grpc/grpc.git
[submodule "3rdparty/skywalking-data-collect-protocol"]
	path = 3rdparty/skywalking-data-collect-protocol
	url = https://github.com/apache/skywalking-data-collect-protocol.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/httplib"]
	path = 3rdparty/httplib
	url = https://github.com/yhirose/cpp-httplib.git
