# This is a basic workflow to help you get started with Actions

name: cpp2sky test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Bazel
        run: |
          sudo wget -O /usr/local/bin/bazel https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-linux-amd64
          sudo chmod +x /usr/local/bin/bazel
      - name: Run bazel test
        run: |
          bazel test //...

  e2e-cpp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare service container
        run: |
          docker-compose -f docker-compose.e2e.yml up -d --build
      - name: Run e2e
        run: |
          pip3 install --upgrade pip
          pip3 install setuptools
          pip3 install -r requirements.txt
          python3 test/e2e/main.py --expected_file=test/e2e/data/expected.yaml --max_retry_times=3 --target_path=/ping

  e2e-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare service container
        run: |
          docker-compose -f docker-compose.e2e-python.yml up -d --build
      - name: Run e2e
        run: |
          pip3 install --upgrade pip
          pip3 install setuptools
          pip3 install -r requirements.txt
          python3 test/e2e/main.py --expected_file=test/e2e/data/expected-python.yaml --max_retry_times=3 --target_path=/ping2
