# This is a basic workflow to help you get started with Actions

name: cpp2sky test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - **

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Bazel
        run: |
          sudo wget -O /usr/local/bin/bazel https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-linux-amd64
          sudo chmod +x /usr/local/bin/bazel

      - name: Run bazel test
        run: |
          bazel test //...
